# Xcode
DerivedData/
build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Build artifacts
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Archives
*.xcarchive

# Temporary files
*.swp
*~
*.orig

# Zip files
*.zip
